<div class="footer">
        <div class="footer__inner">
            <ul class="footer__catelist">
                <li class="catelist__item">
                    <ul class="catelist__item__list">
                        <li class="catelist__item__heading">
                            <h3><a href="#">tin 24h</a></h3>
                        </li>
                        <li class="catelist__item__heading">
                            <h3><a href="#">tin nhanh 360</a></h3>
                        </li>
                        <li class="catelist__item__heading">
                            <h3><a href="#">tin thị trường</a></h3>
                        </li>
                        <li class="catelist__item__heading">
                            <h3><a href="#">dành cho bạn</a></h3>
                        </li>
                        <li class="catelist__item__heading">
                            <h3><a href="#">video</a></h3>
                        </li>
                    </ul>
                </li>
                <li class="catelist__item">
                    <ul class="catelist__item__list">
                        <li class="catelist__item__heading">
                            <h3><a href="#">thời sự</a></h3>
                        </li>
                        <li class="catelist__item__heading">
                            <h3><a href="#">thế giới</a></h3>
                        </li>
                        <li class="catelist__item__heading">
                            <h3><a href="#">tài chính - kinh doanh</a></h3>
                        </li>
                        <li class="catelist__item__heading">
                            <h3><a href="#">đời sống</a></h3>
                        </li>
                        <li class="catelist__item__heading">
                            <h3><a href="#">văn hóa - giải trí</a></h3>
                        </li>
                    </ul>
                </li>
                <li class="catelist__item">
                    <ul class="catelist__item__list">
                        <li class="catelist__item__heading">
                            <h3><a href="#">giới trẻ</a></h3>
                        </li>
                        <li class="catelist__item__heading">
                            <h3><a href="#">giáo dục</a></h3>
                        </li>
                        <li class="catelist__item__heading">
                            <h3><a href="#">sức khỏe</a></h3>
                        </li>
                        <li class="catelist__item__heading">
                            <h3><a href="#">du lịch</a></h3>
                        </li>
                        <li class="catelist__item__heading">
                            <h3><a href="#">thời trang trẻ</a></h3>
                        </li>
                    </ul>
                </li>
                <li class="catelist__item">
                    <ul class="catelist__item__list">
                        <li class="catelist__item__heading">
                            <h3><a href="#">Game</a></h3>
                        </li>
                        <li class="catelist__item__heading">
                            <h3><a href="#">xe</a></h3>
                        </li>
                        <li class="catelist__item__heading">
                            <h3><a href="#">việc làm</a></h3>
                        </li>
                        <li class="catelist__item__heading">
                            <h3><a href="#">bạn cần biết</a></h3>
                        </li>
                    </ul>
                </li>
                <li class="catelist__item">
                    <ul class="catelist__item__list">
                        <li class="catelist__item__heading">
                            <h3><a href="tel:+0906 645 777">Hotline<div>0906 645 777</div></a></h3>
                        </li>
                        <li class="catelist__item__heading">
                            <h3><a href="tel:+0908 780 404">liên hệ quảng cáo <div>0908 780 404</div></a></h3>
                        </li>
                        <li class="catelist__item__heading">
                            <img usemap="#socialNetwork" src="./assests/img/footer-follow.png" alt="liên kết mạng xã hội">
                            <map name="socialNetwork">
                                <area shape="rect" coords="0,0,52,42" href="https://www.facebook.com/thanhnien" alt="facebook">
                                <area shape="rect" coords="53,0,101,45" href="https://zalo.me/2431025964363015388" alt="zalo">
                                <area shape="rect" coords="102,0,157,44" href="https://www.youtube.com/channel/UCIW9cGgoRuGJnky3K3tbzNg" alt="youtube">
                            </map>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="footer__info">
                <div class="footer__info__left">
                    <div class="footer__logo header_logo">
                        <a href="./index.html" class="header_logo_text">báo chí</a>
                    </div>
                    <strong>Nguồn: </strong>
                    <a href="https://thanhnien.vn/">Thanhnien.vn</a>
                    <br>

                </div>
                <div class="footer__info__right">
                    <nav class="footer__nav">
                        <a href="#">Đặt báo </a>
                        <a href="#">RSS</a>
                        <a href="#">Tòa soạn</a>
                        <a href="#">Chính sách bảo mật</a>
                    </nav>
                    Tổng biên tập: 
                    <strong>Nguyễn Ngọc Toàn</strong>
                    <br>
                    Phó tổng biên tập: 
                    <strong>Hải Thành</strong>
                    <br>
                    Phó tổng biên tập: 
                    <strong>Đặng Thị Phương Thảo</strong>
                    <br>
                    Ủy viên Ban biên tập - Tổng Thư ký tòa soạn: 
                    <strong>Trần Việt Hưng</strong>
                </div>
            </div>
        </div>
    </div>
    <a class="go-up" href="#">
        <i class="fa-solid fa-angle-up"></i>
    </a>
    