 <div class="content">
        <div class="content_inner">
            <div class="grid-container-1">
                <div class="grid-item post">
                    <h1 class="post_heading">Hà Nội ghi nhận kỷ lục hơn 5.000 ca Covid-19 trong 24 giờ</h1>
                    <div class="detail_author">
                        <div class="author_img  is-hover">
                            <img src="/images/author_ava.png" alt="avt author">
                        </div>
                        <div class="author_info">
                            <span>
                                <h4 class="author_name is-hover">Mai Hà</h4>
                                <div class="author_star">
                                    <i class="fa-solid fa-star star_active"></i>
                                    <i class="fa-solid fa-star star_active"></i>
                                    <i class="fa-solid fa-star star_active"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </span>
                            <a href="mailto:maithu301@gmail.com" class="is-hover">
                                maithu301@gmail.com
                            </a>
                        </div>
                    </div>
                    <div class="detail_meta">
                        <div class="detail_social">
                            <div class="detail_fbplugin">
                                <a href="#" class="btn_like">
                                    <i class="fa-solid fa-thumbs-up icon-btn"></i>
                                    Like <span class="btn_like_number">16</span>
                                </a>
                                <a href="#" class="btn_share">
                                    Share
                                </a>
                            </div>
                            <div class="bulkhead"></div>
                            <div class="social">
                                <a class="icon-social" href="#"><i class="fa-brands fa-facebook-f"></i></a> 
                                <a class="icon-social" href="#"><i class="fa-solid fa-z"></i></a> 
                                <a class="icon-social" href="#"><i class="fa-brands fa-twitter"></i></a> 
                                <a class="icon-social" href="#"><i class="fa-solid fa-envelope"></i></a> 
                                <a class="icon-social" href="#"><i class="fa-solid fa-print"></i></a> 
                            </div>
                        </div>
                        <div class="detail_time">
                            <div class="story__thumb_info ">
                                <div class="story__thumb_time">4 phút trước</div>
                                <div class="story_thumb_dash"> - </div>
                                <div class="story__thumb_cmt">
                                    <span class="far fa-comment-dots"></span>
                                    <span>0</span>
                                </div>
                            </div>
                            <div class="bulkhead"></div>
                            <div class="story__thumb_info">
                                <div class="story__thumb_time">Thanh niên online</div>
                            </div>
                        </div>
                    </div>
                    <div class="detail_content">
                        <div class="detail_l_content">
                            <h3 class="detail_l_heading">Hôm nay 20.2, Hà Nội ghi nhận kỷ lục mới số ca <span class="colorPri">Covid-19</span> mắc mới với hơn 5.200 trường hợp.</h3>
                            <p>Theo Sở Y tế Hà Nội, hôm nay 20.2, trên địa bàn thành phố ghi nhận 5.102 ca Covid-19, tăng 233 ca so với ngày trước đó. Trong đó có 1.518 ca cộng đồng; 3.584 ca đã cách ly. Đây là số ca mắc Covid-19 kỷ lục từ trước đến nay được ghi nhận tại Hà Nội.</p>
                            <div class="l_thumbnail">
                                <div class="l_thumbnail_img">
                                    <img src="/images/l_thumbnail.jpg" alt="">
                                </div>
                                <div class="text_describe">Hà Nội lập kỷ lục đợt dịch thứ 4 với hơn 5.000 ca mắc mới trong ngày</div>
                                <div class="thumbnail_author">ĐẬU TIẾN ĐẠT</div>
                            </div>
                            <p>Cụ thể, 5.102 bệnh nhân phân bố tại 471 xã, phường, thị trấn thuộc 30/30 quận, huyện, thị xã. Một số quận, huyện ghi nhận nhiều bệnh nhân trong ngày như Hoài Đức 330 ca, Nam Từ Liêm 315 ca, Sóc Sơn 306 ca, Bắc Từ Liêm 292 ca, Long Biên 221 ca, Chương Mỹ 217 ca, Hai Bà Trưng 190 ca, Thạch Thất 188 ca, Hà Đông 175 ca, Thanh Trì 174 ca, Đống Đa 174 ca.</p>
                            <p>Cộng dồn số ca mắc tại Hà Nội trong đợt dịch thứ 4, tính từ ngày 29.4 đến nay là 201.518 ca. </p>
                            <p>Cũng theo Sở Y tế Hà Nội, tính đến hết ngày 19.2, toàn thành phố có 181.222 F0 đang điều trị, theo dõi. Trong đó, hơn 175.000 <a href="https://thanhnien.vn/so-ca-qua-dong-khong-bao-y-te-phuong-nhieu-f0-ha-noi-tu-dieu-tri-post1430746.html" title="Số ca quá đông, không báo y tế phường, nhiều F0 Hà Nội tự điều trị ">F0 điều trị tại nhà</a> và 1.260 ca điều trị tại cơ sở thu dung của thành phố và các quận, huyện. Như vậy, số ca Covid-19 nhẹ, không triệu chứng ở Hà Nội chiếm 97,3% tổng số ca đang điều trị, theo dõi.</p>
                            <div class="categories">
                                <h3>Dành cho bạn</h3>
                                <ul class="detail_categories">
                                    <li class="categories_item">
                                        <article class="story">
                                            <a href="#" class="story__thumb--img">
                                                <img src="/images/story-5.jpg" alt="anh story" class="story__thumb_img">
                                            </a>
                                            <a href="#" class="story__thumb--text">
                                                <h5 class="story__thumb-text">
                                                        Tình hình Covid-19 hôm nay 11.2: Ca bệnh trong ngày tăng đột biến, ca tử vong giảm
                                                </h5>
                                            </a>
                                        </article>
                                    </li>
                                    <li class="categories_item">
                                        <article class="story">
                                            <a href="#" class="story__thumb--img">
                                                <img src="/images/story-5.jpg" alt="anh story" class="story__thumb_img">
                                            </a>
                                            <a href="#" class="story__thumb--text">
                                                <h5 class="story__thumb-text">
                                                        Tình hình Covid-19 hôm nay 11.2: Ca bệnh trong ngày tăng đột biến, ca tử vong giảm
                                                </h5>
                                            </a>
                                        </article>
                                    </li>
                                    <li class="categories_item">
                                        <article class="story">
                                            <a href="#" class="story__thumb--img">
                                                <img src="/images/story-5.jpg" alt="anh story" class="story__thumb_img">
                                            </a>
                                            <a href="#" class="story__thumb--text">
                                                <h5 class="story__thumb-text">
                                                        Tình hình Covid-19 hôm nay 11.2: Ca bệnh trong ngày tăng đột biến, ca tử vong giảm
                                                </h5>
                                            </a>
                                        </article>
                                    </li>
                                    <li class="categories_item">
                                        <article class="story">
                                            <a href="#" class="story__thumb--img">
                                                <img src="/images/story-5.jpg" alt="anh story" class="story__thumb_img">
                                            </a>
                                            <a href="#" class="story__thumb--text">
                                                <h5 class="story__thumb-text">
                                                        Tình hình Covid-19 hôm nay 11.2: Ca bệnh trong ngày tăng đột biến, ca tử vong giảm
                                                </h5>
                                            </a>
                                        </article>
                                    </li>
                                    <li class="categories_item">
                                        <article class="story">
                                            <a href="#" class="story__thumb--img">
                                                <img src="/images/story-5.jpg" alt="anh story" class="story__thumb_img">
                                            </a>
                                            <a href="#" class="story__thumb--text">
                                                <h5 class="story__thumb-text">
                                                        Tình hình Covid-19 hôm nay 11.2: Ca bệnh trong ngày tăng đột biến, ca tử vong giảm
                                                </h5>
                                            </a>
                                        </article>
                                    </li>
                                    <li class="categories_item">
                                        <article class="story">
                                            <a href="#" class="story__thumb--img">
                                                <img src="/images/story-5.jpg" alt="anh story" class="story__thumb_img">
                                            </a>
                                            <a href="#" class="story__thumb--text">
                                                <h5 class="story__thumb-text">
                                                        Tình hình Covid-19 hôm nay 11.2: Ca bệnh trong ngày tăng đột biến, ca tử vong giảm
                                                </h5>
                                            </a>
                                        </article>
                                    </li>
                                </ul>
                            </div>
                            <div class="l_thumbnail l_thumbnail_v">
                                <div class="l_thumbnail_img l_thumbnail_video">
                                    <iframe width="900" height="506" src="https://www.youtube.com/embed/Xb0nIPhwlR0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                                <div class="text_describe">Bản tin Covid-19 ngày 20.2: Cả nước 47.200 ca | Số ca nhiễm ở Hà Nội, TP.HCM tăng vọt</div>
                            </div>
                            <p>Trong 2,7% còn lại (tương đương 4.752 ca), có 353 ca điều trị tại Bệnh viện Bệnh nhiệt đới cơ sở 2 và Bệnh viện Đại học Y Hà Nội; và 4.399 F0 điều trị tại các bệnh viện của thủ đô (gồm tầng 2 và 3). </p>
                            <p>Trước đó, ngày 19.2, Hà Nội ghi nhận 15 ca mắc Covid-19 tử vong. Tổng số ca tử vong do Covid-19 tính từ ngày 29.4 đến nay tại Hà Nội là 908 người.</p>
                            <ul class="morenews">
                                <h3>tin liên quan</h3>
                                <li class="morenews_item">
                                    <a href="#">
                                        <span class="icon__play"><i class="fas fa-play-circle"></i></span>
                                        Tình hình Covid-19 hôm nay 19.2: Ca nhiễm trong ngày giảm, F0 khỏi bệnh tăng
                                    </a>
                                </li>
                                <li class="morenews_item">
                                    <a href="#">
                                        <span class="icon__play"><i class="fas fa-play-circle"></i></span>
                                        Ngày 19.2 có 41.968 ca mắc Covid-19 trong nước 
                                    </a>
                                </li>
                                <li class="morenews_item">
                                    <a href="#">
                                        <span class="icon__play"><i class="fas fa-play-circle"></i></span>
                                        Hơn 4.000 ca nhiễm mỗi ngày, nhiều phường, xã Hà Nội ‘đổi màu’ dịch
                                    </a>
                                </li>
                            </ul>
                            <div class="detail_meta detail_meta2">
                                <div class="detail_social">
                                    <div class="detail_fbplugin">
                                        <a href="#" class="btn_like">
                                            <i class="fa-solid fa-thumbs-up icon-btn"></i>
                                            Like <span class="btn_like_number">16</span>
                                        </a>
                                        <a href="#" class="btn_share">
                                            Share
                                        </a>
                                    </div>
                                    <div class="bulkhead"></div>
                                    <div class="social">
                                        <a class="icon-social" href="#"><i class="fa-brands fa-facebook-f"></i></a> 
                                        <a class="icon-social" href="#"><i class="fa-solid fa-z"></i></a> 
                                        <a class="icon-social" href="#"><i class="fa-brands fa-twitter"></i></a> 
                                        <a class="icon-social" href="#"><i class="fa-solid fa-envelope"></i></a> 
                                        <a class="icon-social" href="#"><i class="fa-solid fa-print"></i></a> 
                                    </div>
                                </div>
                            </div>
                            <div class="detail_comment">
                                <div class="detail_author input_cmt">
                                    <div class="author_img  is-hover">
                                        <img src="/images/author_ava.png" alt="avt author">
                                    </div>
                                    <div class="author_info">
                                        <span>
                                            <textarea name="" id="text_user" cols="30" rows="10" placeholder="Ý kiến của bạn?"></textarea>
                                        </span>
                                        <span class="author_info_btm">
                                            <div class="author_info_register">
                                                <span>Đăng kí</span>
                                            </div>
                                            <input type="button" value="Gửi bình luận" class="btn_cmt" onclick="getCommentUser()">
                                        </span>
                                    </div>
                                </div>
                                <div class="detail_author show_cmt">
                                    <div class="author_img  is-hover">
                                        <img src="/images/avt_us.png" alt="avt author">
                                    </div>
                                    <div class="author_info">
                                        <span>
                                            <div class="nameAtime_us_cmt">
                                                <div class="name_us_cmt">Phạm Văn Biển</div>
                                                <time>20:41 ngày 25/02/2022</time>
                                            </div>
                                            <div class="content_us_cmt">Hoan hô Công an tỉnh Khánh Hòa, liên quan đến Việt Á nếu mình không nhầm thì đây là lần đầu tiên Cơ quan Công an địa phương vào cuộc.</div>
                                        </span>
                                        <span class="us_response">
                                            <a href="#" class="us_response_t t_active"><i class="fa-solid fa-thumbs-up"></i><span class="res_like_num">10</span> Thích</a>
                                            <a href="#" class="us_response_tl"><i class="fa-solid fa-paper-plane"></i>Trả lời</a>
                                            <a href="#" class="us_response_bc"><i class="fa-solid fa-circle-exclamation"></i>Báo cáo</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="detail_r_content">
                            <div class="r-content_tabs">
                                <div class="r_tabs_index">
                                    <div class="r_tabs_name r_active" onclick="openTabsRightContent(event,'r_tabs_tinmoi')">tin mới</div>
                                    <div class="r_tabs_name" onclick="openTabsRightContent(event,'r_tabs_docnhieu')">đọc nhiều</div>
                                </div>
                                <div class="r_tabs_content scroll-style">
                                    <div id="r_tabs_tinmoi" class="tabs_content_inner ">
                                        <div class="tab_content_text">
                                            <article class="story story--primary">
                                                <a href="#" class="story__thumb--img">
                                                    <img src="/images/story-1.jpg" alt="anh story" class="story__thumb_img">
                                                </a>
                                                <div class="story__thumb--text">
                                                    <h1 class="story__thumb-text"><a href="#">Nguyễn Hồng Nhung nóng bỏng trong ngày lên chức phó chủ tịch hội đồng quản trị</a></h1>
                                                    <div class="story__thumb_info">
                                                        <div class="story__thumb_time">09:18 16/02/2022</div>
                                                        <div class="story_thumb_dash"> - </div>
                                                        <div class="story__thumb_cmt">
                                                            <span class="far fa-comment-dots"></span>
                                                            <span>0</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="icon__play"><i class="fas fa-play-circle"></i></span>
                                            </article>
                                        </div>
                                    </div>
                                    <div id="r_tabs_docnhieu" class="tabs_content_inner cl">
                                        <div class="tab_content_text">
                                            <div class="tab_text_time">8:37</div>
                                            <a href="#">
                                                <div class="tab_text_inner">
                                                    <span><i class="fas fa-play-circle"></i></span>
                                                    Các 'siêu anh hùng' đến động viên trẻ em tiêm vắc xin Covid-19 tại Philippines
                                                </div>
                                            </a>
                                        </div>
                                        <div class="tab_content_text">
                                            <div class="tab_text_time">8:37</div>
                                            <a href="#">
                                                <div class="tab_text_inner">
                                                    <span><i class="fas fa-play-circle"></i></span>
                                                    Các 'siêu anh hùng' đến động viên trẻ em tiêm vắc xin Covid-19 tại Philippines
                                                </div>
                                            </a>
                                        </div>
                                        <div class="tab_content_text">
                                            <div class="tab_text_time">8:37</div>
                                            <a href="#">
                                                <div class="tab_text_inner">
                                                    <span><i class="fas fa-play-circle"></i></span>
                                                    Các 'siêu anh hùng' đến động viên trẻ em tiêm vắc xin Covid-19 tại Philippines
                                                </div>
                                            </a>
                                        </div>
                                        <div class="tab_content_text">
                                            <div class="tab_text_time">8:37</div>
                                            <a href="#">
                                                <div class="tab_text_inner">
                                                    <span><i class="fas fa-play-circle"></i></span>
                                                    Các 'siêu anh hùng' đến động viên trẻ em tiêm vắc xin Covid-19 tại Philippines
                                                </div>
                                            </a>
                                        </div>
                                        <div class="tab_content_text">
                                            <div class="tab_text_time">8:37</div>
                                            <a href="#">
                                                <div class="tab_text_inner">
                                                    <span><i class="fas fa-play-circle"></i></span>
                                                    Các 'siêu anh hùng' đến động viên trẻ em tiêm vắc xin Covid-19 tại Philippines
                                                </div>
                                            </a>
                                        </div>
                                        <div class="tab_content_text">
                                            <div class="tab_text_time">8:37</div>
                                            <a href="#">
                                                <div class="tab_text_inner">
                                                    <span><i class="fas fa-play-circle"></i></span>
                                                    Các 'siêu anh hùng' đến động viên trẻ em tiêm vắc xin Covid-19 tại Philippines
                                                </div>
                                            </a>
                                        </div>
                                        <div class="tab_content_text">
                                            <div class="tab_text_time">8:37</div>
                                            <a href="#">
                                                <div class="tab_text_inner">
                                                    <span><i class="fas fa-play-circle"></i></span>
                                                    Các 'siêu anh hùng' đến động viên trẻ em tiêm vắc xin Covid-19 tại Philippines
                                                </div>
                                            </a>
                                        </div>
                                        <div class="tab_content_text">
                                            <div class="tab_text_time">8:37</div>
                                            <a href="#">
                                                <div class="tab_text_inner">
                                                    <span><i class="fas fa-play-circle"></i></span>
                                                    Các 'siêu anh hùng' đến động viên trẻ em tiêm vắc xin Covid-19 tại Philippines
                                                </div>
                                            </a>
                                        </div>
                                        <div class="tab_content_text">
                                            <div class="tab_text_time">8:37</div>
                                            <a href="#">
                                                <div class="tab_text_inner">
                                                    <span><i class="fas fa-play-circle"></i></span>
                                                    Các 'siêu anh hùng' đến động viên trẻ em tiêm vắc xin Covid-19 tại Philippines
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
  